.hamburger:hover > div:nth-child(1){
  background-color: ghostwhite;
  animation-name: top;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transform-origin: -13px 20px;
}

.hamburger:hover > div:nth-child(2){
  background: mediumvioletred;
  animation-name: middle;
  animation-duration: .1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(3){
  background-color: ghostwhite;
  animation-name: bottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transform-origin: left -10px 15px;
}

nav {
  opacity: 0;
  transition-duration: 1s;
}

.hamburger:hover ~ nav {
  opacity: 1;
}

@keyframes top {
  from {transform: rotate(0deg);}
  to {transform: rotate(45deg);}
}

@keyframes middle {
  from {}
  to {}
}

@keyframes bottom {
  from {transform: rotate(0deg);}
  to {transform: rotateZ(-45deg);}
}
